* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'Beyond';
  src: url("../fonts/beyond_the_mountains.otf") format("truetype"), url("../fonts/beyond_the_mountains.ttf") format("opentype"); }

.u-center-container {
  max-width: 57%;
  margin: 0 auto; }

.u-display-flex {
  display: flex; }

.bottom-nav {
  height: 10rem;
  width: 58%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; }
  .bottom-nav-tab {
    background-color: white;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out; }
    .bottom-nav-tab img {
      -webkit-transition: all 400ms ease-in-out;
      -moz-transition: all 400ms ease-in-out;
      -ms-transition: all 400ms ease-in-out;
      -o-transition: all 400ms ease-in-out;
      transition: all 400ms ease-in-out; }
    .bottom-nav-tab:first-child {
      border-top-left-radius: 94px; }
    .bottom-nav-tab:last-child {
      border-top-right-radius: 94px; }
    .bottom-nav-tab span {
      padding-left: 1.5rem;
      font-size: 1.4rem;
      font-family: "Open Sans" sans-serif;
      font-weight: 700;
      text-transform: uppercase; }
    .bottom-nav-tab:hover {
      background: #fa9e1c;
      color: white; }
      .bottom-nav-tab:hover img {
        -webkit-filter: brightness(200%) grayscale(100%);
        -moz-filter: brightness(200%) grayscale(100%);
        -ms-filter: brightness(200%) grayscale(100%);
        -o-filter: brightness(200%) grayscale(100%);
        filter: brightness(200%) grayscale(100%); }
    .bottom-nav-tab.bottom-nav-clicked {
      background: #fa9e1c;
      color: white; }
      .bottom-nav-tab.bottom-nav-clicked img {
        -webkit-filter: brightness(200%) grayscale(100%);
        -moz-filter: brightness(200%) grayscale(100%);
        -ms-filter: brightness(200%) grayscale(100%);
        -o-filter: brightness(200%) grayscale(100%);
        filter: brightness(200%) grayscale(100%); }

.home-search-form {
  max-width: 100%;
  height: 19.2rem;
  background-image: linear-gradient(to right, #fa9e1b, #8d4fff); }

.search_form {
  display: flex;
  justify-content: center;
  align-items: center; }
  .search_form-item:first-child {
    flex: 1 0 30%; }

.nav {
  background: rgba(53, 10, 78, 0.6);
  width: 100%;
  height: 14.4rem; }
  .nav__container {
    display: grid;
    grid-template-columns: 20% 75% 5%;
    width: 100%; }
  .nav__logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    white-space: nowrap; }
    .nav__logo a {
      text-decoration: none;
      color: white;
      font-size: 2.8rem;
      font-weight: 800;
      padding-top: 4rem; }
  .nav__links {
    text-align: center; }
  .nav__list {
    margin-left: 8rem; }
    .nav__list-item {
      display: inline-block;
      list-style: none;
      margin-right: 4.5rem;
      color: white;
      font-size: 1.3rem;
      font-weight: 600;
      text-transform: uppercase;
      white-space: nowrap;
      padding-top: 6.2rem; }
      .nav__list-item a {
        color: white;
        text-decoration: none; }
  .nav__search {
    display: flex;
    align-items: center;
    text-align: right;
    font-size: 1.8rem;
    transform: scaleX(-1); }
    .nav__search a {
      padding-top: 4.5rem;
      color: white; }

.owl-carousel {
  height: 100%;
  width: 100%;
  position: relative; }

.owl-item {
  background-image: linear-gradient(rgba(141, 79, 255, 0.3), rgba(141, 79, 255, 0.3)), url(../img/home_slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%; }

.flipText-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%); }

.flipText-wrapper {
  height: 40%;
  width: 40%;
  perspective: 800px; }

.flipText-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; }

.flipText-front {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  backface-visibility: hidden; }
  .flipText-front h2 {
    font-family: 'Beyond';
    font-size: 2rem; }

.flipText-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: lightgreen;
  transform: rotateX(-180deg);
  backface-visibility: hidden;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column; }
  .flipText-back h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 6rem;
    color: white;
    text-transform: uppercase;
    font-weight: 800; }
  .flipText-back h2 {
    font-family: 'Beyond';
    font-size: 5rem;
    color: white; }

.flipText-btn {
  padding: 4rem;
  width: 20rem;
  text-decoration: none;
  background-size: 300% 100%;
  border-radius: 50%;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-color: linear-gradient(to right, #fa9e1b, #8d4fff); }

.flipText-btn:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.flipText-card:hover {
  animation: flipX;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53); }

@keyframes flipX {
  0% {
    transform: rotateX(0deg); }
  100% {
    transform: rotateX(-180deg); } }

.slider-btn-container {
  width: 100%;
  position: absolute;
  top: 50%;
  justify-content: space-between;
  z-index: 1; }

.home-slider-btn-left {
  margin-left: 7rem; }

.home-slider-btn-right {
  margin-right: 7rem; }

.customPrevBtn:hover .nav_path,
.customPrevBtn:hover .nav_arrow {
  fill: url(#custom_prev); }

.customNextBtn:hover .nav_path,
.customNextBtn:hover .nav_arrow {
  fill: url(#custom_next); }

.topbar {
  background: #350a4e;
  width: 100%;
  height: 25%;
  color: white;
  text-transform: uppercase;
  font-weight: 600; }
  .topbar__container {
    display: flex;
    justify-content: space-between; }
  .topbar__left {
    width: 40%; }
  .topbar__phone {
    width: 30%;
    float: left;
    padding-top: 1rem; }
  .topbar__social {
    width: 70%;
    float: right;
    padding-top: .9rem;
    font-weight: 400; }
  .topbar__list-item {
    display: inline-block;
    width: 12%;
    font-size: 1.2rem; }
    .topbar__list-item i {
      color: white; }
    .topbar__list-item i:hover {
      color: #fa9e1c; }
  .topbar__right {
    align-items: end;
    padding-top: 1rem; }
    .topbar__right a {
      color: white;
      text-decoration: none; }
    .topbar__right a:first-child {
      padding-right: .5rem; }
    .topbar__right a:last-child {
      padding-left: .5rem; }
    .topbar__right a:hover {
      color: #fa9e1c; }

.header {
  display: block;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 14rem; }

.hero_container {
  height: 100vh;
  overflow: hidden; }

#home_grad_next:hover {
  fill: linear-gradient(to right, #fa9e1b, #8d4fff); }
