.owl {

  &-carousel {
    height: 100%;
    width: 100%;
    position: relative;
  }

  &-item {
    background-image: linear-gradient(
      rgba($linear-purple, 0.3),
      rgba($linear-purple, 0.3)), url(../img/home_slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;

  }

}


// Hero text flip and button

.flipText {
 
  &-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -15%);

  }

  &-wrapper {
    height: 40%;
    width: 40%;
    perspective: 800px;
  }

  &-card {
    width: 100%;
    height: 100%;
    // background: white;

    transform-style: preserve-3d;
    // transition: transform 1.5s;
  }

  &-front {
    position: absolute;
    height: 100%;
    width: 100%;

    backface-visibility: hidden;

    h3 {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -20%);
      font-size: 11.2rem;
      text-transform: uppercase;
      // font-weight: 900;
      color: white;
    }

    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      font-family: 'Beyond';
      font-size: 9rem;
      color: white;
    }

    a {
      display: inline-block;
    }

    span {
      background-color: white;
      width: 4px;
      height: 4px;
      border-radius: 50px;
    }
  }

  &-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    transform: rotateX(-180deg);
    backface-visibility: hidden;

    h3 {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -20%);
    }

    h2 {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -40%);
    }

    a {
      display: inline-block;
    }

    span {
      background-color: white;
      width: 4px;
      height: 4px;
      border-radius: 50px;
    }
  }

  // &-card:hover {
  //   animation: flipX;
  //   animation-duration: 2s;
  //   animation-fill-mode: forwards;
  //   transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  // }

  @keyframes flipX {
    0% {
      transform: rotateX(0deg);
    }

    100% {
      transform: rotateX(-180deg);
    }
  }

}
